@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
  @include sectionPadding;

  & {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  &__title {
    @include mainHeader;
    & {
      text-align: center;
      margin-bottom: $padding-medium;
      color: $color-text;
      width: 100%;
    }
  }

  &__sub-title {
    @include subHeader;
    & {
      text-align: left;
      margin-bottom: $padding-medium;
      color: $color-text;
    }
  }

  &__intro {
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: $padding-xlarge;
    }

    &-photo-and-texts {
      display: flex;
      gap: $padding-xlarge;
    }

    &-photo-and-social {
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 50%;
      max-width: 18.75rem;
      max-height: 20rem;
      align-items: center;

      .about__intro-view-projects {
        @include button;
        & {
          margin-top: 1rem;
          height: 1.875rem;
        }

        .icon {
          margin-right: 0.5rem;
        }

        &:hover {
          text-decoration: none;
          background-color: $color-button-hover;
        }
      }
    }

    &-content {
      & {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-background-light;
        padding: $padding-medium;
        border-radius: $border-radius;
        box-shadow: $shadow-light;
      }

      &__photo {
        & {
          width: 100%;
          height: 100%;

          border-radius: 50%;
          box-shadow: $shadow-medium;
        }
      }

      &__text {
        @include bodyCopy;
        & {
          color: $color-text;
          text-align: left;
          line-height: 1.8;
        }
      }
    }
  }

  &__section {
    & {
      margin-top: $padding-xlarge;
      width: 100%;
      margin-bottom: $padding-xlarge;
    }

    &-cards {
      & {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing-unit;
        justify-content: center;
      }
    }
  }

  &__timeline {
    & {
      position: relative;
      margin-top: calc(2 * $spacing-unit);
      justify-items: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &::before {
      & {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 4px;
        height: 100%;
        background-color: $color-link;
        transform: translateX(-50%);
        z-index: 0;
      }
    }

    &-item {
      & {
        width: 100%;
        display: flex;
        align-items: flex-start;
        position: relative;
        margin-bottom: calc(3 * $spacing-unit);
        gap: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &-marker {
      & {
        position: absolute;
        left: 0;
        margin-top: calc(1.5 * $spacing-unit);
        transform: translateX(-50%);
        width: 14px;
        height: 14px;
        background-color: $color-link;
        border-radius: 50%;
        z-index: 1;
      }
    }

    &-content {
      & {
        width: 100%;
        padding: $padding-medium;
        border-radius: $border-radius;
        background-color: $color-background-light;
        box-shadow: $shadow-light;
        margin-left: calc(3 * $spacing-unit);
      }

      &-title {
        @include bodyCopy;
        & {
          font-weight: 900;
          color: $color-text;
        }
      }

      a {
        @include bodyCopySmall;
      }

      .about__timeline-description {
        @include bodyCopySmall;
        & {
          color: $color-text;
          margin-top: $padding-medium;
        }
      }
    }

    &-side {
      & {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        padding-left: $spacing-unit;
        padding-top: $padding-medium;
        min-width: 160px;
      }

      .about__timeline-date {
        @include bodyCopySmall;
        & {
          color: $color-text;
          margin-bottom: $spacing-unit;
          white-space: nowrap;
        }
      }

      .about__timeline-website {
        @include bodyCopySmall;
        & {
          color: $color-text;
          text-decoration: underline;
        }

        &:hover {
          color: $color-link;
        }
      }
    }
  }
}

.about-gallery {
  margin-top: $padding-xlarge;
  color: $color-text;

  .about__sub-title {
    @include subHeaderSmall;
  }
  &__photo {
    & {
      width: calc(33% - $spacing-unit);
      border-radius: $border-radius;
      box-shadow: $shadow-light;
      transition: transform $transition-default;
      align-items: start;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__photos {
    & {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: $spacing-unit;
    }
  }
}
.about__timeline-media {
  margin-top: $padding-medium;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-unit;

  .image-card {
    width: 104px;
    height: 56px;
  }
}
