:root {
  --gradient-start: rgba(32, 40, 92, 1);
  --gradient-mid: rgba(64, 28, 101, 1);
  --gradient-end: rgba(28, 28, 40, 1);

  --color-primary: #6b6b6b;
  --color-secondary: #b3b3b3;
  --color-background-light: rgba(26, 26, 26, 0.4);
  --color-text: #e6e6e6;
  --color-text-light: #ffffff;
  --color-hover: #f2f2f2;

  --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.3);
  --shadow-medium: 0 4px 10px rgba(0, 0, 0, 0.5);

  --font-primary: "Inter", sans-serif;
  --spacing-unit: 1rem;

  --border-radius: 5px;
  --transition-default: 0.3s ease-in-out;
}

[data-theme="light"] {
  --gradient-start: rgba(107, 115, 255, 0.3);
  --gradient-mid: rgba(198, 80, 255, 0.3);
  --gradient-end: rgba(255, 60, 131, 0.3);

  --color-primary: #6b73ff;
  --color-secondary: #ff3c83;
  --color-background-light: rgba(249, 249, 249, 0.4);
  --color-text: #333333;
  --color-text-light: #ffffff;
  --color-hover: #5946d2;

  --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 4px 10px rgba(0, 0, 0, 0.15);
}

[data-theme="orange"] {
  --gradient-start: rgba(255, 140, 0, 0.3);
  --gradient-mid: rgba(255, 165, 0, 0.3);
  --gradient-end: rgba(255, 228, 181, 0.3);

  --color-primary: #ff5722;
  --color-secondary: #ff9800;
  --color-background-light: rgba(255, 243, 224, 0.4);
  --color-text: #212121;
  --color-text-light: #ffffff;
  --color-hover: #e64a19;

  --shadow-light: 0 2px 5px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 4px 10px rgba(0, 0, 0, 0.15);
}

$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-background-light: var(--color-background-light);
$color-background-dark: var(--color-background-dark, #333);
$color-text: var(--color-text);
$color-text-light: var(--color-text-light);
$color-hover: var(--color-hover);

$font-primary: var(--font-primary);
$spacing-unit: var(--spacing-unit);

$shadow-light: var(--shadow-light);
$shadow-medium: var(--shadow-medium);

$border-radius: var(--border-radius);
$transition-default: var(--transition-default);
