@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero-section {
  padding: 100px 20px;
  text-align: left;
  width: 60%;
  height: 85vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  &__header {
    @include mainHeader;
    & {
      margin-bottom: 1.5rem;
      color: $color-text;
      background: linear-gradient(90deg, #ff7eb3, #29b5ec, #b3405e, #eed5df);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 300% 300%;
      animation: gradientShift 5s linear infinite,
        subtleFloat 2s ease-in-out infinite alternate;
    }
  }

  &__paragraph {
    @include bodyCopy;
    & {
      font-weight: 400;
      color: $color-text;
    }
  }

  &__see-more {
    @include bodyCopy;
    & {
      margin-top: 1.5rem;
      color: $color-text;
      transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
      display: inline-flex;
      align-items: center;

      &:hover {
        transform: translateX(0.625rem);
        color: $color-hover;
      }
    }
  }
  &__arrow-icon {
    margin-left: 0.625rem;
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease-in-out;
  }

  .delayed-visible {
    opacity: 0;
    visibility: hidden;
    animation: fadeInDelayed 0.5s ease-in-out 1.5s forwards;
  }

  @keyframes fadeInDelayed {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes subtleFloat {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
