@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero-section {
  @include sectionPadding;
  text-align: justify;
  width: 50%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  &__header {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 900;
    padding-bottom: 1rem;
    color: transparent;
    background: linear-gradient(90deg, #ff7eb3, #29b5ec, #b3405e, #eed5df);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300% 300%;
    animation: gradientShift 5s linear infinite;
  }

  &__paragraph {
    @include bodyCopy;

    & {
      color: $color-text;

      &:nth-of-type(1) {
        animation-delay: 0.5s;
      }
      &:nth-of-type(2) {
        animation-delay: 1s;
      }
    }
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
