@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.skills {
  text-align: center;
  margin: 2rem 0;
  background-color: $color-background-light;
  padding: $padding-medium;
  border-radius: $border-radius;
  box-shadow: $shadow-light;

  &__category {
    margin-bottom: 2rem;

    &-title {
      @include bodyCopy;
      & {
        font-weight: 600;
        color: $color-text;
        margin-bottom: $spacing-unit;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    & > * {
      flex: 0 0 auto; // Prevent items from expanding evenly
    }
  }
}
