@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.skills {
  text-align: center;
  margin: 2rem 0;
  background-color: $color-background-light;
  padding: $padding-medium;
  border-radius: $border-radius;
  box-shadow: $shadow-light;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: $color-text;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
