@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.skills {
  width: 100%;

  &__sub-title {
    @include subHeader;
    & {
      text-align: left;
      margin-bottom: $padding-medium;
      color: $color-text;
    }
  }
  &__list {
    text-align: center;
    margin: $padding-xlarge $padding-small 0 0;
    background-color: $color-background-light;
    padding: $padding-large;
    padding-bottom: $padding-xlarge;
    border-radius: $border-radius;
    box-shadow: $shadow-light;
    display: flex;
    gap: calc($spacing-unit * 1.6);
    flex-direction: column;
  }

  &__category {
    &-title {
      @include bodyCopy;
      & {
        font-weight: 900;
        color: $color-text;
        margin-bottom: $padding-small;
      }
    }
  }

  &__categorized-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    & > * {
      flex: 0 0 auto;
    }
  }
}
