@use "../../styles/partials/variables" as *;

.header {
  background-color: $color-background-light;
  padding: $spacing-unit;
  box-shadow: $shadow-light;
  position: fixed;
  width: 100%;
  z-index: 100;

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: calc(2 * $spacing-unit);

    &__item a {
      text-decoration: none;
      font-weight: 500;
      color: $color-text;
      transition: color $transition-default;

      &:hover {
        color: $color-primary;
      }
    }
  }
}
.header-gap {
  height: 80px;
}
