@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.projects {
  width: 70%; // Matches the width of .about__intro
  max-width: 900px; // Restricts the maximum width for larger screens
  margin: auto; // Centers the section
  padding: $padding-large;

  &__title {
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: calc(4 * $spacing-unit);
    color: $color-text-light;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: calc(2 * $spacing-unit);
  }

  &__card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: $shadow-light;
    background-color: $color-link;
    max-width: 300px;
    transition: transform $transition-default, box-shadow $transition-default;

    &:hover {
      transform: scale(1.05);
      box-shadow: $shadow-medium;

      .projects__card-overlay {
        opacity: 1;
        visibility: visible;
      }
    }

    &-media {
      img {
        width: 100%;
        height: auto;
        max-height: 200px; // Restrict media height
        object-fit: cover;
        border-radius: $border-radius;
      }
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.7);
      color: $color-text-light;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity $transition-default, visibility $transition-default;
      padding: $padding-medium;
    }

    &-title {
      font-family: $font-primary;
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: $padding-small;
    }

    &-description {
      font-family: $font-primary;
      font-size: 1rem;
      margin-bottom: 0;
    }
  }
}
