@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

body.body-modal-open {
  overflow: hidden;
  touch-action: none;
}

.media-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 1000;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 5, 0.9);
    z-index: 999;
    pointer-events: auto;
  }

  &__container {
    width: 100%;
    height: 100%;

    position: relative;

    @include desktop {
      width: 70vw;
      height: 75vh;
      max-width: 100rem;
      max-height: 100rem;
    }
  }

  &__close-container {
    display: flex;
    justify-content: end;
    width: 100%;
    background-color: $color-background-dark;

    @include desktop {
      width: 40%;
      position: absolute;
      right: 0;
      border-bottom: 1px solid $color-text;
      background-color: $color-modal-top-bar;
    }
  }

  &__close {
    margin: $padding-large;
    font-size: 1.75rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    z-index: 1001;

    svg {
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
    }
  }

  &__columns {
    display: flex;
    flex-direction: column;
    height: 100%;

    @include desktop {
      flex-direction: row;
      width: 100%;
      height: 100%;
    }
  }

  &__media {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: $color-background-light;

    @include desktop {
      background-color: $color-background-dark;
    }

    img,
    video {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 18.75rem;
      object-fit: cover;
      @include desktop {
        max-height: 25rem;
      }
      @include desktop {
        max-height: 100%;
      }
    }
  }

  &__info {
    padding: $padding-large;
    background-color: $color-background-light;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-unit;

    @include desktop {
      overflow-y: auto;
      margin-top: 5.625rem;
      width: 40%;
    }
  }

  &__title {
    color: $color-text-light;
    @include subHeader;
  }

  &__short-desc {
    color: $color-text;
    margin-top: -$padding-small;
    @include bodyCopySmall;
  }

  &__long-desc {
    color: $color-text;
    @include bodyCopySmall;
  }

  &__header {
    margin-bottom: $padding-small;
    font-size: 1.25rem;
    font-weight: bold;
    color: $color-text-light;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-unit;
    margin-bottom: $padding-medium;
  }

  &__links {
    display: flex;
    width: 100%;
    gap: $spacing-unit;
    flex-direction: row;
  }

  &__button {
    flex: 1;
    @include button;

    .icon {
      margin-right: 0.5rem;
    }

    &:hover {
      text-decoration: none;
      background-color: $color-button-hover;
    }
  }

  &__content {
    box-sizing: content-box;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-background-light;
    border-radius: $border-radius;
    box-shadow: $shadow-medium;
    z-index: 1000;

    width: 100%;
    height: 100%;
    color: $color-text;
    overflow-y: auto;

    @include desktop {
      flex-direction: row;
      overflow-y: hidden;
    }
  }

  &__prev,
  &__next {
    position: absolute;
    top: 0%;
    transform: translateY(55%);
    background-color: $color-button;
    color: $color-text-light;
    border: none;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    box-shadow: $shadow-medium;
    z-index: 1001;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      display: flex;
      align-items: center;
      color: $color-text-light;

      @include desktop {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &:hover {
      background-color: $color-button-hover;
    }

    @include desktop {
      top: 50%;
      transform: translateY(-50%);
      width: 3rem;
      height: 3rem;
    }
  }

  &__prev {
    left: 1.5rem;
    @include desktop {
      left: -5rem;
    }
  }

  &__next {
    left: 5rem;

    @include desktop {
      left: auto;
      right: -5rem;
    }
  }
}
