@use "../../styles/partials/variables" as *;

.footer {
  position: relative;
  bottom: 0;
  color: $color-text-light;
  padding: calc(2 * $spacing-unit);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;

  .social-links {
    justify-content: center;
    gap: calc($spacing-unit * 2);
  }
}

.social-links {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}
