@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.footer {
  position: relative;
  bottom: 0;
  color: $color-text-light;
  padding: calc(2 * $spacing-unit);
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $spacing-unit;

  .social-links {
    justify-content: center;
    gap: $spacing-unit;
    a {
      @include bodyCopySmall;
    }
  }
}

.social-links {
  flex-wrap: wrap;
  display: flex;
  width: 100%;
}
