@use "../../styles/partials/variables" as *;

.theme-toggle {
  padding: calc(0.5 * $spacing-unit);
  font-size: 0.9rem;
  font-weight: 600;
  color: $color-text-light;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color $transition-default, color $transition-default;

  &:hover {
    filter: brightness(0.9);
  }
}
