@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.theme-toggle {
  padding: $padding-small;
  text-transform: capitalize;
  color: $color-text-light;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color $transition-default, color $transition-default;

  @include bodyCopySmall;

  &:hover {
    filter: brightness(0.9);
  }
}
