@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.image-modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 600px;
  height: 100%;
  background-color: $color-background-light;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  transition: transform $transition-default;

  &.open {
    transform: translateX(0);
  }

  &__content {
    padding: $padding-large;
    overflow-y: auto;

    & {
      h3 {
        @include subHeader;

        & {
          color: $color-link;
          margin-bottom: $padding-small;
        }
      }

      p {
        @include bodyCopy;

        & {
          color: $color-text;
          margin-bottom: $padding-small;
        }
      }
    }
  }
}
