@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/global";

body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  background-color: color-background-light;
  color: color-text;
  height: 100vh;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: color 0.3s;
  text-decoration: none;

  &:hover {
    color: $color-hover;
    text-decoration: underline;
  }
}

button {
  @include button;
}

li {
  list-style-type: none;
}

.content {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.social-links {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  margin-top: 16px;
}

@media (max-width: 768px) {
  .animated-background {
    background-size: 400% 400%;
  }
}
