@use "./styles/partials/variables" as *;
@use "./styles/partials/global";

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  background-color: var(--color-background-light);
  color: var(--color-text);
  height: 100vh;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--color-hover);
  }
}

button {
  font-family: var(--font-primary);
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius);
  transition: background-color 0.3s, color 0.3s;

  &.active {
    background-color: var(--color-link); /* Using color-link for active state */
    color: var(--color-text-light);
  }

  &:not(.active) {
    background-color: var(
      --color-background-light
    ); /* Adjusted to use background-light */
    color: var(--color-text-light);
  }

  &:hover {
    background-color: var(--color-hover);
  }

  &:focus {
    outline: 2px solid var(--color-link);
    outline-offset: 2px;
  }
}

li {
  list-style-type: none;
}

.content {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

@media (max-width: 768px) {
  .animated-background {
    background-size: 400% 400%;
  }
}
