@use "./styles/partials/variables" as *;
@use "./styles/partials/global";

body {
  font-family: $font-primary;
  margin: 0;
  padding: 0;
  background-color: color-background-light;
  color: color-text;
  height: 100vh;
}

a {
  color: $color-link;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: $color-hover;
  }
}

button {
  font-family: $font-primary;
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: $border-radius;
  transition: background-color 0.3s, color 0.3s;

  &.active {
    background-color: $color-link; /* Using color-link for active state */
    color: $color-text-light;
  }

  &:not(.active) {
    background-color: $color-background-light;
    color: $color-text-light;
  }

  &:hover {
    background-color: $color-hover;
  }

  &:focus {
    outline: 2px solid $color-link;
    outline-offset: 2px;
  }
}

li {
  list-style-type: none;
}

.content {
  position: relative;
  z-index: 1;
  background-color: transparent;
}

@media (max-width: 768px) {
  .animated-background {
    background-size: 400% 400%;
  }
}
